apiVersion: v1
name: k8s-servicemonitors
description: k8s-servicemonitors chart that runs on kubernetes
version: {{ getenv "VERSION" }}
keywords:
  - k8s-servicemonitors
  - kubernetes
home: https://github.com/stakater/chart-k8s-servicemonitors
maintainers:
- name: Stakater
  email: stakater@aurorasolutions.io